body{
    margin: 0;
    padding: 0;
}

.creategroup{
    width: 40%;
    height: 500px;
    border: 1px solid black;
    text-align: center;
    background: rgb(46, 12, 56);
    color: white;
    margin: 100px auto 200px;
    box-shadow: 5px 10px 10px black;
   
}

.creategroupform{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 30px auto 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    justify-content: space-between;
    font-weight: bold;
}

.creategroupform input{
    height: 50px;
    border-radius: 5px;
}

.creategroupform textarea{
    border-radius: 5px;
}

.creategroupform button{
    width: 40%;
    height: 30px;
    margin: 30px auto 35px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

