/* navbar part */
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    background: #2D142C;
    position: fixed top;
    color: white;
    justify-content: space-between;
}
.navbar .icon{
    font-size: 20px;
    margin-left: 50px;
}
.navbar .link{
    margin: 30px 150px 0 10px;
    font-size: 18px;
    font-weight: bold;
   
}

.navbar .link a {
    font-size: 20px;
    padding: 10px;
    width: 50px;
    height: 25px;
    margin-right: 20px;
    text-decoration: none;
    color: white;

}
.navbar .link a:hover{
    background: #140A25;
   
}
.navbar i.fa-bars{
    margin: 30px auto 0;
    display: none;
}
@media all and (max-width: 780px){
    .navbar .link{
        display: none;
    }
    .navbar i.fa-bars{
        display: block;
    }
}
/* end of navbar part */

/* forgot password part */

.forgotpassword{
    
    height: 400px;
    padding-top: 20px; 
    width: 50%;
    margin: 100px auto 100px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 10px black;

}

.forgetpasswordFieldset{
    width: 70%;
    height: 150px;
    text-align: center;
    margin: 50px auto;
    font-size: 30px;
}

.forgotpasswordform{
    margin: 15px auto 0;
}

.forgotpasswordform input{
    width: 80%;
    height: 40px;
}

.forgotpasswordform button{
    width: 80px;
    height: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    background: rgba(211, 23, 23, 0.87);
    
}

.forgotpasswordform button a{
    text-decoration: none;
    color: white;

}
.forgotpasswordform button:hover{
    background: black;
    color: black;
}

.p{
    font-weight: bold;
}

.forgerpasswordfooter{
    text-align: center;
}
/* end of forgot password */
