/* START OF LOGIN PAGE */
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    background: #DB2B30;
    position: fixed top;
    color: white;
    justify-content: space-between;
}
.navbar .icon{
    font-size: 20px;
    margin-left: 50px;
}
.navbar .link{
    margin: 30px 150px 0 10px;
    font-size: 18px;
    font-weight: bold;
   
}

.navbar .link a {
    font-size: 20px;
    padding: 10px;
    width: 50px;
    height: 25px;
    margin-right: 20px;
    text-decoration: none;
    color: white;

}
.navbar .link a:hover{
    background: #140A25;
   
}
.navbar i.fa-bars{
    margin: 30px auto 0;
    display: none;
}
@media all and (max-width: 780px){
    .navbar .link{
        display: none;
    }
    .navbar i.fa-bars{
        display: block;
    }
}
.welcome{
    float: left;
    margin: 200px 0 100px 100px;
    font-size: 30px;
    color: white;
}
#highlight{
    font-weight: bold;
    font-size: 100px;
    color: #DB2B30;
}
.loginAllContainer{

    background: url(../assets/images/loginbackground1.jpeg) no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media all and (max-width: 780px){
    .loginAllContainer{
        grid-template-columns:1fr;
    }
}
/* .fahome{
font-size: 40px;
margin-left: 20px;
border-radius: 100%;
} */
/* #homeicon{
    width: 30%;
}
#homeicon a{
    text-decoration: none;
    color: black;
}
#homeicon a i:hover{
    border: 1px solid white;
    opacity: 0.1;
}
#searchicon{
 width:80%;
 display: flex;
 align-items: center;
 
}
.searchicon{
    padding-top: 10px;
    width: 70%;
    font-size: 25px;
}
.searchicon input {
    padding: 0;
    width: 80%;
    height: 40px;
}
.searchicon button{
   width: 40px;
   height: 40px;
   font-size: 15px;
  
}
.searchicon input, button{
    border-radius: 5px;
}
.menuplus{
    display: flex;
    justify-content: flex-end;
    width: 20%;
    font-size: 25px;
    margin: 10px;
    
}
.menuplus .fa-bars, .fa-plus{
    margin-right: 10px;
}
 */

.logincontainer{
    
    width: 80%;
    height: 500px;
    margin: 50px auto 10px;
    text-align: center;
    background: rgba(8, 1, 1, 0.5);
    color: white;
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.epicmail
{
    padding-top: 10px;
}
.epicmail img 
{
    color: white;
    border-radius: 100%;
    
}
.epicmail img:hover{
    border: 1px solid rgba(216, 19, 19, 0.938);
    opacity: .5;;
}
#loginform
{
    padding:0;
    margin:0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#loginform label, input
{
    margin-bottom: 25px;
}

#loginform input
{
    height: 30px;
    border-radius: 5px;
    width: 50%;
    color-interpolation-filters: auto;
}
@media all and (max-width:780px){
    #loginform input{
        width: 30%;
    }
}
#loginform #submit
{
width: 70px;
height: 30px;
}
.login
{
    margin-top: 40px;

}

.login button
{
    height: 30px;
    border-radius: 5px;
    
}
.login button a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.login button:hover{
    background: rgba(216, 19, 19, 0.938);
    color: red;
}

.login a{
    color: white;
}

.loginfooter
{
    /* margin: 20px auto 0px; */
    width: 100%;
    height: 100px;
    background: #8F1D2C;
    opacity: .8;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    transform: translateY(-20px);
   
}

.loginfooter p
{
    padding-top: 50px;
}
/* END OF LOGIN PAGE */

/* SIGN UP PAGE */
.signupnavbar{
    width: 100%;
    display: flex;
    background: rgba(180, 11, 11, 0.87);
    position: fixed top;
    color: white;
}
.signupcontainer{
    width: 80%;
    height: 600px;
    margin: 30px auto 0;
    text-align: center;
    background: rgba(180, 11, 11, 0.87);
    color: white;
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,.8);
    border-radius: 5px;
}

.signupepicmail{
    padding-top:5px;
}

.signupepicmail img 
{
    color: white;
    border-radius: 100%;
    
}
.signupepicmail img:hover{
    border: 1px solid rgba(216, 19, 19, 0.938);
    opacity: .5;;
}
.signup
{
    margin-top: 40px;
}

.signup button
{
    height: 30px;
    border-radius: 5px;
    
}
.signup button a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.signup button:hover{
    background: rgba(216, 19, 19, 0.938);
    color: red;
}

.signup a{
    color: white;
}




#signupform
{
    padding:0;
    margin:0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#signupform label, input
{
    margin-bottom: 25px;
}

#signupform input
{
    height: 30px;
    border-radius: 5px;
    width: 50%;
    color-interpolation-filters: auto;
}
@media all and (max-width:780px){
    #signupform input{
        width: 30%;
    }
}
#signupform #submit
{
width: 70px;
height: 30px;
}

#footer
{
    
    width: 100%;
    height: 100px;;
    background: #8F1D2C;
    opacity: .8;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
   
}

#footer p
{
    padding-top: 50px;
}

/* END OF SIGN UP PART */