body{
    margin: 0;
    padding: 0;
}

.resetgroupcontainer{
    width: 40%;
    height: 600px;
    margin: 100px auto 0px;
    background: white;
    box-shadow: 2px 2px 10px black;
    padding-top: 10px;

}
.resethead{

    background: rgb(247, 241, 241);
    width: 80%;
    margin: 40px auto 0;
    font-family: sans-serif;
    font-size: 18px;
    height: 80px;
    padding: 10px;
    color: #2D142C;
   
}


.resetform{
   
    background: rgb(247, 241, 241);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    width: 80%;
    padding-bottom: 20px;
    margin: 40px auto 0;
    color: #2D142C;
}

.creategroupform input{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 30px;
    font-size: 18px;
    font-family: sans-serif;
    margin: 20px auto 0;
    border-radius: 5px;
    background: rgba(0,0,0,.1);
    
}
 button#resetbutton {
    text-align: center;
    width: 80%;
    height: 40px;
    margin: 40px auto;
    background: #2D142C;
    color: white;
    font-size: 20px;
    border-radius: 5px;

}

 button#resetbutton:hover{
     background: white;
    color: black;
}

