/* navbar */
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* navbar part */
.navbar{
    width: 100%;
    display: flex;
    background: #2D142C;
    position: fixed top;
    color: white;
    justify-content: space-between;
}
.navbar .icon{
    font-size: 20px;
    margin-left: 50px;
}
.navbar .link{
    margin: 30px 150px 0 10px;
    font-size: 18px;
    font-weight: bold;
   
}

.navbar .link a {
    font-size: 20px;
    padding: 10px;
    width: 50px;
    height: 25px;
    margin-right: 20px;
    text-decoration: none;
    color: white;

}
.navbar .link a:hover{
    background: #140A25;
   
}
.navbar i.fa-bars{
    margin: 30px auto 0;
    display: none;
}
@media all and (max-width: 780px){
    .navbar .link{
        display: none;
    }
    .navbar i.fa-bars{
        display: block;
    }
}
/* end of navbar */
.signupAllContainers{

    display: grid;
    grid-template-columns: repeat(2,1fr); 
    background: url(../assets/images/signupepicmail.jpeg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
   
}
.signupwelcome{
    float: left;
    margin: 200px 0 100px 80px;
    font-size: 30px;
    color: white;
}





@media all and (max-width: 780px){
    .signupwelcome{
        width: 30%;
    }  
}

#signuphighlight{
    font-weight: bold;
    font-size: 100px;
    color:  rgb(46, 12, 56);
}
.signupcontainer{
    width: 80%;
    height: 600px;
    margin: 25px auto 0px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,.8);
    border-radius: 5px;
}

@media all and (max-width: 780px) {
    .signupcontainer{
        min-width: 70%;
    }
}
.signupepicmail{
    padding-top:5px;
}

.signupepicmail img 
{
    color: white;
    border-radius: 100%;
    
}
.signupepicmail img:hover{
    border: 1px solid rgb(46, 12, 56);
    opacity: .5;;
}
.signup
{
    margin-top: 40px;
}

.signup button
{
    height: 30px;
    border-radius: 5px;
    
}
.signup button a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.signup button:hover{
    background: rgb(46, 12, 56);
    color:rgb(46, 12, 56);
}

.signup a{
    color: white;
}

#signupform
{
    padding:0;
    margin:0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#signupform label, input
{
    margin-bottom: 25px;
}

#signupform input
{
    height: 30px;
    border-radius: 5px;
    width: 50%;
    color-interpolation-filters: auto;
}
@media all and (max-width:780px){
    #signupform input{
        width: 30%;
    }
}
#signupform #submit
{
width: 70px;
height: 30px;
}
 
 #footer 
{
    margin: 20px auto 0px;
    height: 50px;;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color:black;
   
}

