
/* START OF LOGIN PAGE */
/* *{
    background: url(./images/410119501Website-Design-Background.jpg) 0 -50px no-repeat;
    
} */
.welcome{
    float: left;
    margin: 200px 0 100px 100px;
    font-size: 30px;
    color: rgba(240, 18, 18, 0.623);
}
#highlight{
    font-weight: bold;
    font-size: 100px;
}
.loginAllContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.navbar{
    width: 100%;
    display: flex;
    background: rgba(211, 23, 23, 0.87);
    position: fixed top;
    color: white;
}
.fahome{
font-size: 40px;
margin-left: 20px;
border-radius: 100%;
}
#homeicon{
    width: 30%;
}
#homeicon a{
    text-decoration: none;
    color: black;
}
#homeicon a i:hover{
    border: 1px solid white;
    opacity: 0.1;
}
#searchicon{
 width:80%;
 display: flex;
 align-items: center;
 
}
.searchicon{
    padding-top: 10px;
    width: 70%;
    font-size: 25px;
}
.searchicon input {
    padding: 0;
    width: 80%;
    height: 40px;
}
.searchicon button{
   width: 40px;
   height: 40px;
   font-size: 15px;
  
}
.searchicon input, button{
    border-radius: 5px;
}
.menuplus{
    display: flex;
    justify-content: flex-end;
    width: 20%;
    font-size: 25px;
    margin: 10px;
    
}
.menuplus .fa-bars, .fa-plus{
    margin-right: 10px;
}


.logincontainer{
    width: 80%;
    height: 500px;
    margin: 70px auto 0;
    text-align: center;
    background: rgba(211, 23, 23, 0.87);
    color: white;
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,.8);
    border-radius: 5px;
}
.epicmail
{
    padding-top: 10px;
}
.epicmail img 
{
    color: white;
    border-radius: 100%;
    
}
.epicmail img:hover{
    border: 1px solid rgba(216, 19, 19, 0.938);
    opacity: .5;;
}
#loginform
{
    padding:0;
    margin:0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#loginform label, input
{
    margin-bottom: 25px;
}

#loginform input
{
    height: 30px;
    border-radius: 5px;
    width: 50%;
    color-interpolation-filters: auto;
}
@media all and (max-width:780px){
    #loginform input{
        width: 30%;
    }
}
#loginform #submit
{
width: 70px;
height: 30px;
}
.login
{
    margin-top: 40px;

}

.login button
{
    height: 30px;
    border-radius: 5px;
    
}
.login button a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.login button:hover{
    background: rgba(216, 19, 19, 0.938);
    color: red;
}

.login a{
    color: white;
}

.loginfooter
{
    margin: 20px auto 0px;
    width: 100%;
    height: 100px;;
    background: rgba(201, 24, 24, 0.822);
    opacity: .8;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
   
}

.loginfooter p
{
    padding-top: 50px;
}
/* END OF LOGIN PAGE */

/* SIGN UP PAGE */
.signupnavbar{
    width: 100%;
    display: flex;
    background: rgba(180, 11, 11, 0.87);
    position: fixed top;
    color: white;
}
.signupcontainer{
    width: 80%;
    height: 600px;
    margin: 30px auto 0;
    text-align: center;
    background: rgba(180, 11, 11, 0.87);
    color: white;
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,.8);
    border-radius: 5px;
}

.signupepicmail{
    padding-top:5px;
}

.signupepicmail img 
{
    color: white;
    border-radius: 100%;
    
}
.signupepicmail img:hover{
    border: 1px solid rgba(216, 19, 19, 0.938);
    opacity: .5;;
}
.signup
{
    margin-top: 40px;
}

.signup button
{
    height: 30px;
    border-radius: 5px;
    
}
.signup button a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.signup button:hover{
    background: rgba(216, 19, 19, 0.938);
    color: red;
}

.signup a{
    color: white;
}




#signupform
{
    padding:0;
    margin:0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#signupform label, input
{
    margin-bottom: 25px;
}

#signupform input
{
    height: 30px;
    border-radius: 5px;
    width: 50%;
    color-interpolation-filters: auto;
}
@media all and (max-width:780px){
    #signupform input{
        width: 30%;
    }
}
#signupform #submit
{
width: 70px;
height: 30px;
}

#footer
{
    margin: 20px auto 0px;
    width: 100%;
    height: 100px;;
    background: rgba(201, 24, 24, 0.822);
    opacity: .8;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
   
}

#footer p
{
    padding-top: 50px;
}

/* END OF SIGN UP PART */